/* You can add global styles to this file, and also import other style files */

.stockslist {
    border-collapse: collapse;
}
.stockslist td, .stockslist tr, .stockslist th {
    border: 1px solid lightgrey;
    padding: 10px;
}

.editable-td {
    background: #d3d3d3 url("./assets/edit.png") no-repeat right;
}