<h2>Create new stock</h2>
<form (ngSubmit)="submitStock()">
    <div class="form-group">
        <label for="stockName">Stock name: </label>
        <input type="text" class="form-control" id="stockName"
               required
               [(ngModel)]="model.stockName" name="stockName">
    </div>
    <div class="form-group">
        <label for="stockPrice">Stock price: </label>
        <input class="form-control" id="stockPrice"
               required
               [(ngModel)]="model.stockPrice" name="stockPrice" pInputText type="text"
               (keypress)="onlyNumberKey($event)">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

<hr>
{{errorHandler}}
<h2>All stocks: </h2>
<table class="stockslist">
    <tr>
        <th>Stock name</th>
        <th>Stock price</th>
        <th>Created by</th>
        <th>Last updated</th>
        <th>Added on</th>
        <th></th>
    </tr>
    <tr *ngFor="let stock of stockList">

        <td>
            <a [routerLink]="['/stock/view/', stock._id]"
               routerLinkActive="active">{{stock.stockName}}</a> <!-- stock name -->
        </td>

        <td *ngFor="let latestUpdatedStock of (stock.stockPrices | slice:stock.stockPrices.length -1)"
            contenteditable='true' pInputText #editable (input)="onRowClick($event, stock.stockName)"
            (keypress)="onlyNumberKey($event)" (blur)="updateAStock($event, stock._id, stock.stockName)"
            class="editable-td">
            {{latestUpdatedStock.updatedStockPrice}} <!-- stock price -->
        </td>
        <td>
            {{stock.stockAuthor}} <!-- stock author -->
        </td>
        <td *ngFor="let latestUpdatedStock of (stock.stockPrices | slice:stock.stockPrices.length -1)">
            {{latestUpdatedStock.updatedStockTimestamp | date: 'dd/MM-yyyy HH:mm'}} <!-- last updated -->
        </td>
        <td>
            {{stock.stockTimestamp | date: 'dd/MM-yyyy HH:mm'}} <!-- stock added on -->
        </td>
        <td>
            <a (click)="deleteAStock($event, stock._id, stock.stockName)">Delete</a>
        </td>
    </tr>
</table>